body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.navbar {
    background-color: #333;
    padding: 15px;
    text-align: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.navbar a:hover {
    background-color: #575757;
}

.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    margin: 20px auto;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

ul {
    text-align: left;
}

li {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="username"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #4cae4c;
}

.result {
    background-color: #d9534f;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    margin-bottom: 20px;
}

.result ul {
    list-style-type: none;
    padding: 0;
}

.result li {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
}

.result li:last-child {
    margin-bottom: 0;
}

.result.strong {
    background-color: #a9d94f;
}